@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #202225;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

:root {
    --primary-color: white;
    --secondary-color: rgb(136, 150, 160);
    --third-color: #333;
}

/**
GENERIC COLORS
 */

.text_regular {
    color: white;
}

.text_light {
    color: rgb(136, 150, 160);
}


/**
HEADER
 */

.headerContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.headerContainer > video {
    position: absolute;
    top: 0;
    filter: blur(5px);
    height: 100vh;
}

.headerTitle {
    display: flex;
    padding: 5px 10px;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 45vh;
    z-index: 5;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .3);
}

.headerTitle h1 {
    font-size: 5em;
}

.headerTitle span {
    font-size: 1.2em;
    margin-top: -15px;
}

    /**
    NAVBAR
     */

.navBar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    z-index: 10;
    transition: top 0.3s;
    background-color: rgba(0, 0, 0, .5);
}

.navBarIcon {
    float: left;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 10px;
}

.navBarIcon img {
    width: 100%;
    height: 100%;
}

.navLinks {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase;
    flex: .9;
}

.navLinks a {
    font-size: 20px;
    transition: .1s ease-in-out;
    margin: 0 10px;
}

.navLinks a:hover {
    color: white;
}

/**
CONTENT
 */

.content {
    position: relative;
    background-color: rgba(0, 0, 0, .5);
    margin-top: -5px;
    display: flex;
    width: 100vw;
    z-index: 5;
    align-items: center;
    flex-direction: column;
}


.content-about {
    position: relative;
    display: flex;
    width: 80%;
    padding-left: 70px;
    align-items: center;
}

.content-about_left, .content-about_right {
    display: flex;
    margin: 0 30px;
}

.content-about_left {
     flex: .3;
}

.content-about_left img {
    width: 400px;
}

.content-about_right {
    display: flex;
    flex-direction: column;
    flex: .7;
}

.content-programme {
    display: flex;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.content-programme h2 {
    text-transform: uppercase;
    font-size: 30px;
}

.content-programme_container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    flex-wrap: wrap;
}

/**
FESTIVAL
 */
.festival-container {
    display: flex;
    background-color: #202225;
    padding: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.festival-container_second {
    display: flex;
    flex-direction: row;
    margin: 30px 0;
}

.festival-container h2 {
    text-transform: uppercase;
    font-size: 30px;
}

.festival-container p {
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.festival_left, .festival_right {
    display: flex;
    flex: .5;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.festival_right img {
    border-radius: 10px;
    border: solid 3px rgba(100, 100, 100, .5);
}


/**
PROGRAMME CARD
 */

.programme-card {
    position: relative;
    width: 300px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    margin: 10px;
}

.programme-card_header {
    overflow: hidden;
    height: 400px;
    width: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.programme-card_header img {
    filter: blur(1px);
    width: 100%;
}

.programme-card_title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 350px;
    left: 15px;
    background-color: rgba(0, 0, 0, .7);
    padding: 5px 15px;
    color: var(--primary-color);
    border-radius: 5px;
}

.programme-card_button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 370px;
    right: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #333333;
    cursor: pointer;
    border: solid 2px rgba(0, 0, 0, .5);
}

.programme-card_button img {
    width: 25px;
    height: 25px;
}

.programme-card_infos {
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: #202225;
    flex-direction: column;
}

.programme-card_infos__item {
    margin: 5px;
    display: flex;
    align-items: center;
}

.programme-card_infos__item img {
    width: 20px;
    height: 20px;
}

.programme-card_infos__item span {
    margin: 0 5px;
}

/* background */
.unsacdebilles_background {background-image: url('../../assets/imgs/unsacdebilles.jpg')}
.jaccuse_background {background-image: url('../../assets/imgs/jaccuse.jpeg')}
.joursmax_background {background-image: url('../../assets/imgs/30joursmax.jpeg')}
.lesmiserrables_background {background-image: url('../../assets/imgs/lesmiserables.jpeg')}
.lejeu_background {background-image: url('../../assets/imgs/lejeu.jpeg')}

/**
RESERVATION
 */

.content-booking {
    display: flex;
    width: 100%;
    background-color: #202225;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    flex-direction: column;
}

.content-booking > h2 {
    text-transform: uppercase;
    font-size: 30px;
}

.formContainer {
    padding: 20px;
    width: 80%;
    margin: 70px auto 50px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: rgba(255, 255, 255, .05);
    border: solid 2px rgba(255,255,255,0.09);
    border-radius: 10px;
}

.formSection {
    margin-bottom: 30px;
}

.formSectionTitle[isRequired="true"]:after {
    content: '*';
    color: rgb(180, 10, 10);
}

.formSelection {
    margin-top: 10px;
    width: 200px;
    height: 30px;
    border: 2px solid grey;
    padding-left: 5px;
    background-color: transparent;
    color: rgb(170, 170, 170);
    font-size: 15px;
    border-radius: 5px;
}

.formSelection option {
    background-color: #18191C;
}

.formSection label {
    font-size: 25px;
}

.formValidationContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.formValidationButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    background-color: #7F83D7;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    border: none;
}

.formValidationButton:hover {
    cursor: pointer;
}

.inputForm {
    margin-top: 10px;
    width: 100%;
    height: 35px;
    background-color: rgba(0, 0, 0, .10);
    border: 2px solid #333;
    border-radius: 3px;
    font-size: 15px;
    padding-left: 10px;
    font-weight: bold;
    color: #fff;
}

.inputForm::placeholder {
    font-weight: lighter;
}

.inputForm:focus {
    outline: 2px solid rgba(255, 255, 255, .2);
    border-radius: 3px;
}

.descriptionInput {
    margin-top: 10px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 150px;
    max-height: 500px;
    min-height: 100px;
    background-color: rgba(0, 0, 0, .10);
    border: 2px solid #333;
    border-radius: 3px;
    font-size: 16px;
    padding: 5px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

/**
CONTACT
 */

.contact-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.contact-container h2 {
    text-transform: uppercase;
    font-size: 30px;
}

.contact-container_parts {
    display: flex;
    flex-direction: row;
    width: 90%;
}

.contact-container_left, .contact-container_right {
    flex: .5;
    margin: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.contact-container_left iframe {
    width: 90%;
    height: 90%;
    border-radius: 10px;
    border: solid 2px rgba(0, 0, 0, .5);
}

/**
FOOTER
 */

.footer {
    position: static;
    bottom: 0;
    display: flex;
    width: 100%;
    background-color: #353535;
    margin-top: 100px;
    padding: 20px;
    align-items: center;
}

.footer-part_left, .footer-part_right {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
}

.footer-part_left {
    flex: .3;
}

.footer-part_right {
    flex: .7;
}

.footer-part_left img {
    width: 200px;
}


.footer-part_right h2 {
    margin: 30px;
}

.footer-part_links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-part_links a {
    display: flex;
    align-items: center;
    margin: 5px;
    transition: ease-in-out .2s;
    color: var(--secondary-color);
}

.footer-part_links a > img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.footer-part_links a:hover {
    color: white;
}